.nav{
  background-color: black;
  display:flex;
  justify-content: space-evenly;
  font-size: 5rem;
  padding: 2%;
}
.nav a{
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
.nav a:hover{
  color:darksalmon;
}

.user{
  margin-top: 3%;
  margin-left:10%;
  padding: 1%;
}
.btn{
  margin-left:14%;
  padding: 1%;
}
