*{

  border:0;
}
.log {
 background-image: url("https://wallpapers.com/images/featured/2ygv7ssy2k0lxlzu.jpg");
 background-size: cover;
 height: 100vh;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
